[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  VITE_SUPABASE_URL = "https://bxcgonhulcubycqsxppa.supabase.co"
  VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ4Y2dvbmh1bGN1YnljcXN4cHBhIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjYyOTMzMzQsImV4cCI6MjA4MTg2OTMzNH0.ew1t3GlpMtfQkhxPjT9fjYQlXEJ8POdeeSMswRCjloU"
